{{ define "main" }}

<div class="container">
    <div class="row">
        {{ $current := . }}
        {{ $count := 0 }}
        {{ range .Pages }}
            <div class="col">
                {{ with .Resources.GetMatch "cover.{webp,jpg,png}" }}
                    <style>
                        #portfolio{{ $count }} {
                            background-image: url({{ .RelPermalink }});
                        }
                    </style>
                {{ end }}
                <div id="portfolio{{ $count }}" class="portfolio-item ratio ratio-21x9 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <a class="text-decoration-none" href="{{ .RelPermalink }}">
                            <h2 class="h4 ">{{ .Title }}</h2>
                            Hello.
                        </a>
                    </div>
                </div>
            </div>
            {{ $count = add $count 1 }}
        {{ end }}
    </div>
</div>
{{ end }}
