{{ define "main" }}
<!-- PSINGLE -->
<div class="container mt-3 mt-md-5">
    <div class="row">
        <div class="col">
            {{ .Content }}
        </div>
    </div>

    {{ $current := . }}
    {{ with .Resources.GetMatch "before-after.{md,html}" }}
    <div class="row">
        <div class="col">

            {{ $before := $current.Resources.GetMatch "before.{webp,jpg,png}" }}
            {{ $after := $current.Resources.GetMatch "after.{webp,jpg,png}" }}
            <style>
                #before01 {
                    background-image: url({{$before.RelPermalink}});
                }
                #after01 {
                    background-image: url({{$after.RelPermalink}})
                }
            </style>

            <div class="bacontainer">
                <figure id="after01">
                    <div id="before01" class="bacompare"></div>
                </figure>
                <input id="slider01" type="range" min="0" max="100" value="50" class="baslider" data-target="before01" />
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}
