<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body>


    {{ if not ($.Param "cascade.cover.heroic") }}
        {{ partial "navbar.html" . }}
    {{ end }}

    {{ partial "header.html" . }}

    {{ if $.Param "cascade.cover.heroic" }}
        {{ partial "navbar.html" . }}
    {{ else }}
        {{ partialCached "divider.html" . }}
    {{ end }}

    <main>
        <div id="content">

            {{ block "main" . }}
            {{ end }}

        </div>
    </main>

    {{ partial "footer.html" . }}
    {{ partial "debug.html" . }}

</body>

</html>
