{{ $cover := default ($.Param "cascade.cover.url") }}
{{ $cover1x1 := default ($.Param "cascade.cover.url1x1") | default $cover }}

{{/* Is there a local file "cover.*" (and if so a "cover-1x1.*")? */}}
{{ $current := . }}
{{ with .Resources.GetMatch "cover.{webp,jpg,png}" }}
    {{ $cover = .RelPermalink }}
    {{ $cover1x1 = $cover }}
    {{ with $current.Resources.GetMatch "cover-1x1.{webp,jpg,png" }}
        {{ $cover1x1 = .RelPermalink }}
    {{ end }}
{{ end }}


<style>
    {{ with $cover1x1 }}
        div.cover {
            background-image: url({{ . }});
        }
    {{ end }}
    {{ with $cover }}
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            div.cover {
                background-image: url({{ . }});
            }
        }
    {{ end }}
</style>

{{ $cover_content := $.Param "cascade.cover.content"  }}
<header>
    {{ if not ($.Param "cascade.cover.hidden") }}
    <div id="cover" class="cover position-relative
        {{- if $.Param "cascade.cover.heroic" }} heroic {{- end -}}
        {{- if $.Param "cascade.cover.thin" }} thin {{- end -}}">

        <div id="cover-content" class="cover-content position-absolute w-75 top-50 start-50 translate-middle text-white text-center">
            {{ $cover_content | safeHTML }}
        </div>
    </div>
    {{ end }}
</header>
