<nav id="thenavbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="d-none d-md-block" style="height: 30px; width: auto;" src="{{ $.Param "logo" }}">
            <img class="d-block d-md-none" style="height: 30px; width: auto;" src="{{ $.Param "logo_icon" }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {{ $currentPage := . }}
                {{ range .Site.Menus.main.ByWeight }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class='nav-link dropdown-toggle  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ .Pre }} {{ .Name }} {{ .Post }}</a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {{ range .Children }}
                            <li>
                                <a class='dropdown-item  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="{{ .URL }}">{{ .Pre }} {{ .Name }} {{ .Post }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </li>

                    {{ else }}
                    <li class="nav-item">
                        <a class='nav-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active {{ end }}' href="{{ absURL .URL }}">
                            {{ .Pre }} {{ .Name }} {{ .Post }}
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
            <button class="btn btn-primary">Get a Quote</button>
        </div>
    </div>
</nav>
