$font-family-sans-serif: 'Nunito Sans',
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

//$font-family-serif: 'Libre Baskerville', serif;
$font-family-serif: 'Cardo', serif;
$headings-font-family: $font-family-serif;
$headings-font-weight: 400;

$astronaut: #242b66;
$spun-pearl: #aaabbc;
$natural-gray: #8b8982;
$tory-blue: #0e6ba8;
$periwinkle-gray: #c3c9e9;
$steel-gray: #202030;
$yellow-orange: #ffba49;
$mojo: #bb4430;
$fern-frond: #4c6624;   // split-complement of astro
$tango: #e87722;        // complement of fern frond

$id-indigo: $astronaut;
$id-light-indigo: lighten($id-indigo, 15);
$id-dark-indigo: darken($id-indigo, 15);


$headings-color: $id-indigo;

// Color overrides
$primary: $astronaut;
$secondary: $natural-gray;
$success: $fern-frond;
$info: $tory-blue;
$warning: $tango;
$danger: $mojo;
// $light:         $gray-100 !default;
$dark: $id-dark-indigo;

// $link-color:                              $primary !default;
// $link-decoration:                         underline !default;
// $link-shade-percentage:                   20% !default;
// $link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
// $link-hover-decoration:                   null !default;

// $body-bg:                   $white !default;
$body-color: $steel-gray;

