.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
}

// Cover image stuff
div.cover {
    width: 100%;
    background-color: $id-indigo;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 100%;
}

div.cover .cover-content {
    font-size: 4rem;
}

@include media-breakpoint-up(md) {
    div.cover {
        padding-top: 42.85714286%;
    }
}
