.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;
}

// Cover image stuff
div.cover {
    width: 100%;
    background-color: $id-indigo;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 100%;
}

// .cover-carousel-container {
//     height: 100vh;
// }

#cover-carousel .carousel-inner {
     height: 100vh;
     width: 100%;
 }

#cover-carousel .carousel-item img   {
     height: 100vh;
     width: 233.33%;
     overflow: clip;
}

div.cover .cover-content {
    font-size: 4rem;
}

@include media-breakpoint-up(md) {
    // .cover-carousel-container {
    //     height: auto;
    // }
    div.cover {
        padding-top: 42.85714286%;
    }
    #cover-carousel .carousel-inner {
         height: auto;
    }
    #cover-carousel .carousel-item img   {
        height: auto;
        width: 100%;
    }
}

.text-small {
    font-size: 0.8rem;
}

.text-smaller {
    font-size: 0.6rem;
}

.text-smallest {
    font-size: 0.4rem;
}

.text-spaced {
    letter-spacing: 0.2rem;
}

.crafted a {
    color: $gray-500;
    text-decoration: none;
}

.crafted a:hover {
    color: $gray-100;
    text-decoration: none;
}

a {
    transition: color 0.25s;
}

a:hover {
    transition: color 0.25s;
}

footer .nav-item a {
    color: $gray-100;
}

footer .nav-item a:hover {
    color: $gray-500;
}
// body {
//     background-color: $dark;
// }
//
// .container {
//     background-color: $light;
// }

.bg-debug {
    background-color: $warning;
}

.bordered {
    border: 4mm ridge rgba(170, 50, 220, .6);
    border-color: $id-indigo;
}

.portfolio-item {
    background-image: url("https://picsum.photos/1050/450");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba($id-indigo, 0.6);
    background-blend-mode: multiply;
    transition-property: background-color;
    transition-duration: 1s;
}

.portfolio-item:hover {
    transition-property: background-color;
    transition-duration: 1s;
    background-color: rgba($id-indigo, 0);
}

