{{ define "main" }}

<div class="container mt-3 mt-md-5">

    {{ .Content }}

<!-- Working examples of bootstrap icons below
    <svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="/images/bootstrap-icons.svg#heart-fill" />
    </svg>
    <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
    <img src="/images/icons/bootstrap.svg" alt="Bootstrap" width="32" height="32">
    <svg class="bi text-success" width="32" height="32" fill="currentColor">
        <use xlink:href="/images/bootstrap-icons.svg#heart-fill" />
    </svg>
-->
</div>

{{ end }}
